/* #region generic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

/* color palette */

:root {

    --bd-primary-coloror: #ff6900;
    --bd-prymary-lighter: #ffffff;
    --bd-prymary-allert: #ff0000;
    --bd-secondary-allert: #008000;
    --bd-prymary-dark: #1a1a1a;
    --bd-primary-darker: #000000;
}

.debug {

    #department,
    #logo,
    #link {
        background-color: var(--bd-prymary-allert);
    }

    .card {
        background-color: var(--bd-prymary-allert);
    }

}

/* #endregion generic */

/* #region Utility */

/* layout */
.d-flex {
    display: flex;
}

.center {
    width: 80%;
    margin: 0 auto;
}

.jc-space-between {
    justify-content: space-between;
}

.unstyle {
    text-decoration: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.centered {
    justify-content: center;
    align-items: center;
}

/* #endregion Utility */

/* #region header */

header {

    height: 70px;
    background-color: var(--bd-primary-coloror);

}

.nmenu {
    height: 100%;
    align-items: center;

    img {
        width: 150px;
    }

    a {
        color: var(--bd-prymary-lighter);
        padding: 0.2rem;
    }
}

/* #endregion header */

/* #region main*/

.card-container {

    padding-top: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    .card {

        .prevew {
            width: 460px;
        }

        div.love {
            width: 50px;
            height: 50px;
            background-color: var(--bd-prymary-lighter);

            top: 10px;
            right: 0px;

            .heart {
                font-size: 30px;
            }
        }

        .discount {
            background-color: var(--bd-prymary-allert);
            bottom: 50px;
            padding: 0.3rem 0.5rem;
        }

        .sostenibility {
            background-color: var(--bd-secondary-allert);
            bottom: 50px;
            left: 60px;
            padding: 0.3rem 0.5rem;
        }

        .discount,
        .sostenibility {
            color: var(--bd-prymary-lighter);
        }
    }

    .second {
        display: none;
    }

    img {
        width: 100%;
    }

    .prevew:hover {

        .first {
            display: none;
        }

        .second {
            display: block;
        }
    }


}

/* #endregion main*/